{{define "content"}}

    <div class="container my-3">
        <form method="post">
            <div id="purpose-id" class="my-3">
                <h1>Choose purpose of your diet </h1>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="purpose" id="exampleRadios1"
                           value="lose-weight">
                    <label class="form-check-label" for="exampleRadios1">
                        Lose weight
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="purpose" id="exampleRadios2"
                           value="sport">
                    <label class="form-check-label" for="exampleRadios2">
                        Sports nutrition
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="purpose" id="exampleRadios3"
                           value="healthy" checked>
                    <label class="form-check-label" for="exampleRadios3">
                        Healthy nutrition
                    </label>
                </div>
            </div>
            <div id="Contraindications-id" class="my-3">
                <h1>Choose your contraindications</h1>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contraindications" id="exampleRadios1"
                           value="fish">
                    <label class="form-check-label" for="exampleRadios1">
                        Fish
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contraindications" id="exampleRadios2"
                           value="milk">
                    <label class="form-check-label" for="exampleRadios2">
                        Milk
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contraindications" id="exampleRadios2"
                           value="peanut-butter">
                    <label class="form-check-label" for="exampleRadios2">
                        Peanut butter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contradications" id="exampleRadios3"
                           value="no-contradications" checked>
                    <label class="form-check-label" for="exampleRadios3">
                        No contraindications
                    </label>
                </div>
                <button type="submit" class="btn btn-primary my-3">Submit</button>
            </div>
        </form>
    </div>

{{end}}