{{define "content"}}
    <div class="container">
        <h1>Active programs</h1>
        {{range $index, $value := .Programs}}
            <div class="card">
                <div class="card-header">
                    {{.Name}}
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Portion</th>
                            <th scope="col">Calories</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $index, $value := .Dishes}}
                            <tr>
                                <td>{{.Title}}</td>
                                <td>{{.Portion}}</td>
                                <td>{{.Calories}}</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{end}}
    </div>
{{end}}