{{define "content"}}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Ration generator</h1>
            <p class="lead font-weight-normal">Generates ration for every day of week for breakfast,
                lunch and dinner based on your state of your body. </p>
            <a class="btn btn-outline-secondary" href="#">Learn more</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <main class="container my-5">
        <div class="row d-md-flex w-100 pl-md-3">
            <div class="col-6 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: limegreen">
                <div class="my-3 py-3">
                    <h2 class="display-5">Easy to create your rations</h2>
                    <p class="lead">Make your own ration in 5 minutes.</p>
                </div>
                <div class="bg-light box-shadow mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="http://localhost:8080/static/icons/broccoli.svg" width="40%" height="300px" alt="Broccoli">
                </div>
            </div>
            <div class="col-6 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: peachpuff">
                <div class="my-3 p-3">
                    <h2 class="display-5">Select exisiting program</h2>
                    <p class="lead">From different prepared programs.</p>
                </div>
                <div class="bg-light box-shadow mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="http://localhost:8080/static/icons/clipboard.svg" width="40%" height="300px" alt="Program">
                </div>
            </div>
        </div>
        <div class="row d-md-flex w-100 pl-md-3">
            <div class="col-6 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: pink">
                <div class="my-3 p-3">
                    <h2 class="display-5">Stay healthy and strong</h2>
                    <p class="lead">Our programs will help reach your goals.</p>
                </div>
                <div class="bg-light box-shadow mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="http://localhost:8080/static/icons/heart.svg" width="40%" height="300px" alt="File">
                </div>
            </div>
            <div class="col-6 bg-primary pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Export your ration as PDF file</h2>
                    <p class="lead">And always have your ration with you.</p>
                </div>
                <div class="bg-light box-shadow mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="http://localhost:8080/static/icons/file.svg" width="40%" height="300px" alt="File">
                </div>
            </div>
        </div>
    </main>
{{end}}